.BlueBox{
    border: dashed blue;
    margin: 10px;
    min-height: 90vh;
}

.RedBox{
    border: dashed red;
    margin:10px;
    min-height: 90vh;
}

.PinkBox{
    border: solid purple;
    margin: 10px 700px 10px 10px;
    min-height: 45vh;
}

#div1{
    background-color: yellow;
    border: dashed green;
    margin:20px 500px 20px 20px;
    min-height: 10vh;
}

#div2{
    background-color: yellow;
    border: dashed pink;
    margin:10px 500px 20px 20px;
    min-height: 10vh;
}

#div3{
    background-color: yellow;
    border: dashed red;
    margin:10px 500px 20px 20px;
    min-height: 10vh;
}

#cat div{
    display: inline-block;
}

#cat1{
    background-color: yellow;
    border: dashed green;
    margin:20px 20px 20px 20px;
    min-height: 10vh;
    min-width: 100px;
}

#cat2{
    background-color: yellow;
    border: dashed red;
    margin:20px 20px 20px 20px;
    min-height: 10vh;
    min-width: 100px;
}
