.Header{
  text-align: center;
  border:5px solid orange;
  background-color: orange;
  color:white;
}
.Note--master{
  text-align: center;
  border:5px solid orange;
  width: 700px;
  /* height:200px; */
  padding:40px;
  margin:10px;
  display:flex;
  flex-wrap: wrap;
}

  