.box{
    border: dashed red;
    margin: 10px;
    min-height: 90vh;
}

.innerbox{
    border: solid blue;
    margin: 30px;
    /* min-height: 50vh; */
    width: 580px;
}

img{
    width: 150px;
    position: relative;
    top:200px;
    left: 85%;
}

span{
    background-color: yellow;
}
