body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  /* background-image: url("https://cdn.vectorstock.com/i/preview-1x/10/32/mobile-app-courier-delivering-online-shop-order-vector-41701032.jpg"); */
  /* Add other background properties like background-size, background-position if needed */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p{
  color: blue;
}